html body {
    background-image: url(/img/marvel3.png);
}


.info_gerais{
    position: relative;
    width: 100%;
    height: 600px;
    padding-top: 10px;
    align-items: center;
    margin: auto;
    justify-content: center;
    background-color: #151515;
}

.info_gerais p{
    position: absolute;
    left: 530px;
    top: 120px;
}

.balao{
    position: absolute;
    left: 450px;
    height: 380px;
    width: 500px;
}

.stanlee{
    position: absolute;
    right: 850px;
    top: 400px;
    height: 200px;
    width: 200px;
}

.seções{
    text-align: center;
    width: 100%;
    background-color: rgb(14, 11, 20);
    color: rgb(205,0,0);
    font-size: 50px;
}

.introdução{
    background-image: url(/img/marvel3.png);
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.descrição_menu{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 10px 30px 10px;
}

.intro{
    padding: 30px 10px 30px 10px;
    height: 300px;
    width: 300px;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #ffffff;

}

.intro h3{
    text-align: center;
    padding-bottom: 10px;
}

.video{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;

}